<h2 mat-dialog-title>{{ bookDialogData.mode === 'add' ? 'Add Book' : 'Book Info' }}</h2>
@if (bookDialogData.mode === 'edit') {
  <div class="absolute top-6 right-6 flex gap-4">
    <mat-slide-toggle labelPosition="before" [checked]="!readonlyMode()" (change)="editModeChange($event)">
      Edit mode
    </mat-slide-toggle>
  </div>
  <div class="z-10 absolute bottom-6 left-6 flex gap-4">
    <button mat-mini-fab aria-label="Delete Book" matTooltip="Delete Book" [mat-dialog-close]="deleteBook()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
}

<mat-dialog-content>
  <div class="inline-flex gap-8">
    <form id="book-form" class="flex flex-col gap-4 py-2 w-[300px]" [formGroup]="bookForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" [readonly]="readonlyMode()" required />
        @if (bookForm.controls.name.errors?.required) {
          <mat-error>{{ 'Field is required' }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" [readonly]="readonlyMode()" required />
        @if (bookForm.controls.author.errors?.required) {
          <mat-error>{{ 'Field is required' }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Publication Year</mat-label>
        <input matInput type="number" formControlName="publicationYear" [readonly]="readonlyMode()" required />
        @if (bookForm.controls.publicationYear.errors?.required) {
          <mat-error>{{ 'Field is required or invalid' }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Publication Place</mat-label>
        <input matInput formControlName="publicationPlace" [readonly]="readonlyMode()" required />
        @if (bookForm.controls.publicationPlace.errors?.required) {
          <mat-error>{{ 'Field is required' }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pages</mat-label>
        <input matInput type="number" formControlName="pages" [readonly]="readonlyMode()" required />
        @if (bookForm.controls.pages.errors?.required) {
          <mat-error>{{ 'Field is required or invalid' }}</mat-error>
        } @else if (bookForm.controls.pages.errors?.min) {
          <mat-error>{{ 'Must be at least 1 page' }}</mat-error>
        }
      </mat-form-field>

      <div class="inline-flex items-center">
        <app-upload-image-form
          formControlName="imageSrc"
          (imageLoaded)="onImageLoaded($event)"
          (imageLoading)="onImageLoading($event)"
        />
        @if (bookForm.controls.imageSrc.errors?.isNotImage) {
          <mat-error>{{ 'File must be image' }}</mat-error>
        }
      </div>
    </form>

    <div class="flex justify-center items-center">
      <div class="w-[400px] h-[400px] rounder-s outline-2 outline-dashed outline-[#e0e0ff]">
        <div class="relative h-full flex justify-center items-center color-[#e0e0ff]">
          @if (imageSrc()) {
            <img class="object-contain w-full h-full" [src]="imageSrc()" alt="Book image" />
          } @else {
            <mat-icon fontIcon="image"></mat-icon>
            Download your image
          }

          @if (imageLoading()) {
            <div class="absolute w-full h-full flex justify-center items-center">
              <mat-spinner></mat-spinner>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  @if (bookDialogData.mode === 'add') {
    <button mat-button [disabled]="bookForm.invalid || imageLoading()" [mat-dialog-close]="addBook()" cdkFocusInitial>
      Create Book
    </button>
  } @else {
    @if (!readonlyMode()) {
      <button
        mat-button
        [disabled]="bookForm.invalid || imageLoading()"
        [mat-dialog-close]="changeBook()"
        cdkFocusInitial
      >
        Change Book
      </button>
    }
  }
</mat-dialog-actions>
